extend /views/skeleton
block content
    +banner('/projects/photos/inline', 'Photos', 'Mock inline gallery', 'stonearch.jpg', '', 'move')
    +banner('/projects/photos/isotope', 'Photos Two', 'Mock isotopic gallery', 'stranger.jpg','', 'move')