extends ../skeleton
block content
    .text On-going hyperlapse project
    .gridlock
        #coffman(class='video grid-33', data-loop='true', data-hover='true')
        #dinky(class='video grid-33', data-autoplay='true', data-loop='true')
        #stone(class='video grid-33', data-preload='none', data-hover='true')
    .text Minneapolis timelapse       
        #revolucion(class='video', data-controls='true', data-preload='none')
    .text Selfie series #1: Europe       
        #gyrolapse(class='video', data-controls='true', data-preload='none')
