//- Display of videos collections
extend /views/skeleton
block content
    +banner('/projects/videos/multi', 'Multiple', 'Mock HTML5 mp4/webM video layout', '35w.jpg')
    +banner('/projects/videos/single', 'Single', 'Mock of a single video page', 'SingelStreet.jpg', 'gray')
