extend /views/skeleton
block content
    p These are snippets from my on-going hyperlapse project.
    .gridlock
        #coffman(class='video grid-33', data-loop='true', data-autoplay='true', data-hover='true')
        #dinky(class='video grid-33', data-autoplay='true', data-loop='true')
        #stone(class='video grid-33', data-preload='none', data-hover='true')
    p Minneapolis timelapse       
        #revolucion(class='video', data-controls='true', data-preload='none')