#navigator
    .wrapper
        .logo
            .pyrimidine
                .top
                .middle
                    .flipper
                .bottom
            .kenny Kenny
            .hoang Hoang
            .gnaoh gnaoH
            .beta beta
        #navlist
            each link in ['projects', 'about']
                .link
                    a(href='/'+link, class='ajax')=link 
