#navigator
    .logo
        .aromatics
            .pyrimidine
                .top
                .middle
                    .flipper
                .bottom
            .benzene
                .top
                .middle
                .bottom
            .kenny Kenny
            .hoang Hoang
            .gnaoh gnaoH
    #nav-list
        .nav-parent
            a(href='.') Index
            .nav-child
                a(href='.#one') One
                a(href='.#two') Two
                a(href='.#three') Three
        .nav-parent
            a(href='.#bottom') Bottom
            .nav-child
                a(href='.#six') Six
                a(href='.#seven') Seven
                a(href='.#eight') Eight
        .nav-parent
            a(href='gallery') Gallery
            .nav-parent
            a(href='videos') Videos