#navigator
    .logo
        .aromatics
            .pyrimidine
                .top
                .middle
                    .flipper
                .bottom
            .benzene
                .top
                .middle
                .bottom
            .kenny Kenny
            .hoang Hoang
            .gnaoh gnaoH
    #nav-list
        .nav-parent
            a(href='.') Index
        .nav-parent
            a(href='about') About
        .nav-parent
            a(href='gallery') Gallery
        .nav-parent
            a(href='videos') Videos