#navigator
    .logo
        .aromatics
            .pyrimidine
                .top
                .middle
                    .flipper
                .bottom
            .benzene
                .top
                .middle
                .bottom
            .kenny Kenny
            .hoang Hoang
            .gnaoh gnaoH
        .beta beta
    #navlist
        each link in ['index', 'gallery', 'videos', 'about']
            .link
                a(href='/'+link)=link 
