#navigator
    .logo
        .aromatics
            .pyrimidine
                .top
                .middle
                    .flipper
                .bottom
            .benzene
                .top
                .middle
                .bottom
            .kenny Kenny
            .hoang Hoang
            .gnaoh gnaoH
    #navlist
        .link
            a(href='index') Index
        .link
            a(href='gallery') Gallery
        .link
            a(href='videos') Videos
        .link
            a(href='about') About