extend /views/skeleton
block content
    .about
        p Thank you for dropping by!
        p Please pardon the lack of content and don't mind any of the beta bugs since they're not here to stay (hopefully).
    | Contact: 
    +link('mailto:kenny@gnaoh.com?subject=Hi%20Kenny', 'kenny@gnaoh.com')
    - var randint = Math.ceil(Math.random()*15);
    .image
        img(src='/static/img/gallery/strangers/' + randint + '.jpg', alt='This is photo number ' + randint)
        .caption Randomly selected photo.
    //- .image
    //-     img(src='/static/img/gallery/twelve/4.jpg', alt='Venturing circa Amlies grocery store in Montmartre.')
    //-     .caption Venturing circa Amélie's grocercy store in Montmartre.