extends skeleton
block content
    .about
        .category Kenny Hoang
        .self
            p   Welcome to my corner of the collective human information network. I am an aspiring web developer.
            p   In my free time, I enjoy brainstorming and writing apt self-descriptions.
            a(href='javascript:void(0)', onclick='gnaoh.rainbow()') Run JavaScript Code
        .position
            .description
                | Contact information
                ul
                    li Email: 
                        a(href='mailto:kenny@gnaoh.com?subject=Hi%20Kenny') kenny@gnaoh.com
        .category Curriculum Vitae
        .head Experience
        .position
            .title Center for Drug Design, University of Minnesota - Research Assistant
            .date December 2009 – May 2010
            .description
                ul
                    liZ
                    li
        .position
            .title Department of Biochemistry, University of Minnesota - Teaching Assistant
            .date Spring 2011
            .description
                | Evaluated assignments in a senior-level biochemistry course.
        .position
            .title Center for Drug Design, University of Minnesota - IT
            .date May 2010 - July 2011
            .description
                | Computing and networking technical support for a network of 50 machines.
        .position
            .title Department of Plant Biology, University of Minnesota - Research Assistant
            .date December 2009 – May 2010
            .description
                | Examined the uncharted genetic linkage map of
                span.genus-species Cannabis sativa
                | and
                span.genus-species Cannabis indica
                | .
                ul
                    li beebepp
                    li
        .position
            .title University Relations, University of Minnesota - Photographer
            .date August 2009 – June 2010
            .description
                ul
                    li Photographed notable figures and events on campus.
                    li Processed images from film and digital media for university publications.
                    li Organized and prepped photographs and their metadata for archiving purposes.
        .position
            .title Photographer
            .date 2008 - Present
            .description
                ul
                    li Miscellaneous freelance gigs--e.g., weddings, portraits, events.
                    li
                        | Extensive experience in the 
                        a#coolio(href='#') nightlife 
                        | industry.
        .position
            .title Walgreens - Pharmacy Technician
            .date October 2007 – September 2008
            .description
                | Aided the workflow in an HIV-specialty pharmacy: distribution of prescription drugs, insurance fillings, and patient assistance.
        .position
            .title Vietnamese Community of Minnesota - Tutor
            .date 2003 - 2009
            .description
                | Assisted in the process of teaching the Vietnamese language as a second language to the youth.
        .category Education
        .position
            .title University of Minnesota
            .date 2007 - 2011
            .description B.S. Biochemistry
        .image
            //- img(src='/static/img/gallery/twelve/4.jpg', alt='Venturing circa Amlies grocercy store in Montmartre.')
            .caption Venturing circa Amélie's grocercy store in Montmartre.