extend skeleton
block content
    .map
        h1 Map
        .legend
            .box.ruby
            span Ruby
            .box.javascript
            span Javascript
            .box.cpp
            span C++
            .box.java
            span Java
            .box.dotnet
            span .Net
    .pi
        h1 Pie Distribution
        
    script(src='js/devdev.js')

