extend skeleton
block content
    .map
        h1 Map
        .legend
            .box.cpp
            span C++
            .box.dotnet
            span .Net
            .box.java
            span Java
            .box.javascript
            span Javascript
            .box.ruby
            span Ruby
    .pi
        h1 Pi Distribution
        form(class='city-select', name='city-select')
            input(type='radio', name='city-select', value='chicago', checked)
            | Chicago 
            input(type='radio', name='city-select', value='minneapolis')
            | Minneapolis
            input(type='radio', name='city-select', value='new york city')
            | New York City
            input(type='radio', name='city-select', value='san francisco')
            | San Francisco


    script(src='js/devdev.js')

