extend skeleton
block content
    .map
        h1 Map
        .legend
            .box.ruby
            span Ruby
            .box.javascript
            span Javascript
            .box.cpp
            span C++
            .box.java
            span Java
            .box.dotnet
            span .Net
    .pi
        h1 Pie Distribution
        form(class='city-select', name='city-select')
            input(type='radio', name='city-select', value='minneapolis', checked)
            | Minneapolis
            input(type='radio', name='city-select', value='san francisco')
            | San Francisco
            input(type='radio', name='city-select', value='new york city')
            | New York City


    script(src='js/devdev.js')

