extend skeleton
block content
    h1 Map
    .map
    .legend
        .box.ruby
        span Ruby
        .box.javascript
        span Javascript
        .box.cpp
        span C++
        .box.java
        span Java
        .box.dotnet
        span .Net
    script(src='js/devdev.js')

