extend /views/skeleton
block content
    +banner('/projects/photos', 'Photos', 'Mock up of image galleries', 'tilt.jpg','')
    +banner('/projects/videos', 'Videos', 'Mock up of video pages', 'SingelStreet.jpg', 'gray')
    +banner('/projects/code', 'Code', 'Previous web projects', 'bcrp.png')
    +banner('/projects/nowhere', '404', 'Test post please ignore...', '35w.jpg')