extend /views/skeleton
block content
    +banner('/projects/photos', 'Photos', 'Mock image galleries', 'tilt.jpg','', 'move')
    +banner('/projects/videos', 'Videos', 'Mock video pages', 'SingelStreet.jpg', 'gray')
    +banner('/projects/code', 'Code', 'Mock previous projects page', 'bcrp.png')
    +banner('/projects/nowhere', '404', 'Test case...', '35w.jpg')