extend /views/skeleton
block content
    +banner('/projects/photos', 'Photos', 'Mock image galleries', 'tilt.jpg')
    +banner('/projects/videos/multi', 'Videos', 'Mock HTML5 mp4/webM video layout', '35w.jpg')
    +banner('/projects/videos/single', 'Videos Two', 'Mock of a single video page', 'SingelStreet.jpg', 'gray')
    +banner('/projects/devdev', 'Data Representation', 'Mock of a D3.js page', 'graph.png')
    +banner('/projects/code', 'Code', 'Cooming soon...', 'bcrp.png')