doctype 5
html
    head
        title= title
        meta(charset='utf-8')
        meta(name='description', content='Homepage of Kenny Hoang')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0')
        link(rel='stylesheet', href='css/gnaoh.css')
        link(rel='author', href='humans.txt')
        link(rel='icon', href='favicon.ico')
        script(src='js/loader.js')
    body
        include blocks/navigator
        block content