//-JS stuff hoisted up top
- var properTitle = title.charAt(0).toUpperCase() + title.substring(1);
- properTitle = (properTitle === 'Index') ? 'Kenny Hoang' : properTitle;
- var styleOpen = '<style>';
- var styleClose = '</style>';
doctype 5
html
    head
        title #{properTitle}
        meta(charset='utf-8')
        meta(name='description', content='Homepage of Kenny Hoang')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0')
        //- link(rel='stylesheet', href='css/gnaoh.css')
        link(rel='author', href='humans.txt')
        != '<style>'
            include style
        != '</style>'
    body
        include blocks/navigator
        #content
            #post(data-name='#{title}')
                block content
        script(src='js/loader.js')