extends skeleton
block content
    section.gridlock
        .grid-33
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in fermentum dolor. Nulla facilisi. Morbi vel rutrum mi. Nullam ante felis, iaculis dignissim consectetur at, euismod et purus. Vestibulum et lorem ac est molestie tincidunt.
        .grid-33
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in fermentum dolor. Nulla facilisi. Morbi vel rutrum mi. Nullam ante felis, iaculis dignissim consectetur at, euismod et purus. Vestibulum et lorem ac est molestie tincidunt.
        .grid-33
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in fermentum dolor. Nulla facilisi. Morbi vel rutrum mi. Nullam ante felis, iaculis dignissim consectetur at, euismod et purus. Vestibulum et lorem ac est molestie tincidunt.
    section.gridlock
    #coffman.video.grid-33(data-loop='true', data-hover='true')
    #dinky.video.grid-33(data-autoplay='true', data-loop='true')
    #stone.video.grid-33(data-preload='none', data-hover='true')
    #revolucion.video(data-controls='true', data-preload='none')