/*
 * This file contains the styling behind gnaoh.com.
 * Less.js is required to compile this stylesheet into browser CSS.
 *
 *  Map!
 * - Variables
 * - Mixins
 * - Page
 *      - Typography
 *      - Resets
 *      - Universials (e.g, responsive fluid grid, transitions)
 *      - HTML & Body level styling.
 *      - Navigator (Sidebar)
 *          - Logo 
 *              - Pyrimidine and Benzene aromatic rings
 *          - Navigation Links
 *      - Content & Post
 *          - Paragraphs, Headings, Sections
 *          - Videos
 *          - Image Galleries
 *              - Wall/Brick Styling
 *      - Media Queries for Responsive functionality.
 */
//variables
@font: 'Titillium', 'ubuntu', 'droid sans', monospace, sans-serif;              //default font
@font-size: 15px;                                                               //default font size
@color: #9371B3;                                                                //highlighted color
@color-light: lighten(@color,15%);                                              //lighter color
@color-dark: darken(@color,5%);                                                 //darker color
@selection: darken(@color,25%);                                                 //selection color
@color-gray: #555;                                                              //gray
@bg-color: #fff;                                                                //background color
@navigator-h: 50px;                                                             //height of sidebar
@navigator-w: 100%;                                                             //with of sidebar
@navigator-fc: #BBB;                                                            //font color of nav links
@post-width: 1000px;                                                            //max width of main post
@gallery-w: @post-width;                                                        //image gallery's width
@aromatics-size: 50px;                                                          //side of logo
@cssTransitionTime: 900ms;                                                      //default time for css transitions
@nl:`'\n'`;                                                                     //newline shorthand

//common mixins
.animated (@time: @cssTransitionTime; @type: all) {
    transition: ~'@{type}' @time cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.delay (@time: @cssTransitionTime) {
    transition-delay: @time;
}
//arguments as follows: name, duration, easing, delay, iteration count, direction, fill
.key-animated (@name; @duration: 2s; @iteration: infinite; @easing: cubic-bezier(1,1,1,1); @delay: 0ms; @direction: normal; @fill: both) {
    animation: @name @duration @easing @delay @iteration @direction @fill;
    -webkit-animation: @name @duration @easing @delay @iteration @direction @fill;
}
//keyframe mixin. this is a really really ugly mixin hack. it's not possible until LESS implements mixins from variables.
.keyframes(@name; @from: none; @to: 'none;';  @vendor:~'';){
     @open: ~'@@{vendor}keyframes @{name} {@{nl}  from {@{nl}    @{vendor}@{from}@{nl}  }@{nl}  to {@{nl}    @{vendor}@{to}@{nl}  }@{nl}}@{nl}.@{name}';
 	@{open} {
      .key-animated(@name);
    }
}
.transform(@type; @value){
    @mixin: ~'@{type}(@{value})';
    transform: @mixin;
    -webkit-transform: @mixin;
}
.noselect (){
    -webkit-user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none;   
}
.hide (){
    display: none;
}
.show (){
    display: block;
}
.fixed (){
    position: fixed;
}
.relative (){
    position: relative;
}
.absolute (){
    position: absolute;
}

// Typography
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto'), local('Roboto Light'), local('Roboto-Light'), url(//themes.googleusercontent.com/static/fonts/roboto/v8/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Titillium';
    font-style: normal;
    src: url('//themes.googleusercontent.com/static/fonts/titilliumweb/v1/anMUvcNT0H1YN4FII8wprwwHpU-8OKeXrGSDRtNNsHg.ttf') format('truetype');
}
// Code prettifier
.prettyprint {
    margin: 0.5em 0; 
    padding: 0.5em; 
    font-family: monospace;
    overflow-wrap: break-word;
    color: #ffffff;
    background-color: #141414;
    // Line numbering
    li[class ^= 'L'] { 
        color: @color-gray;
        list-style: octal inside;
    }
    // Every other line
    li { 
        &.L1, &.L3, &.L5, &.L7, &.L9 {
            background: #171717;
        }
    }
}
pre {
    // Comments
    .com                { color: #888888; }
     // Capitalized classes and constructors
    .typ                { color: #FBCBFF; }
    // None-formatted code
    .nocode             { color: #000000; }
    // Keywords and Tags
    .kwd, .tag          { color: #FFA96F; }
    // Strings and attribute values
    .str, .atv          { color: #B2E9FF; } 
    // Punctuation, plain text, and attribute names
    .pun, .pln, .atn    { color: #ffffff; }
    // Ints and floats
    .lit, .dec          { color: #68B68F; }
}

// Normalizers
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-rendering: optimizeLegibility;
}
table {
    border-collapse:collapse;
    border-spacing: 0;
}
li {
    list-style: none;
}
img, video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    .noselect();
}

// .loading class will rotate the object continuously
.keyframes(loading, 'transform:none;', 'transform:rotate(360deg);');
.keyframes(loading, 'transform:none;', 'transform:rotate(360deg);', -webkit-);
// .keyframes(gnidaol, 'transform:none;', 'transform:rotate(-360deg);');
// .keyframes(gnidaol, 'transform:none;', 'transform:rotate(-360deg);', -webkit-);

// default transition animation
.animated {
    .animated();
}
.clearfix {
    &:before, &:after {
        content:' ';
        display:table;
    }
     &:before, &:after {
        clear:both;
    }
}

// Page Layout
html {
    overflow-y: scroll;
    overflow-x: hidden;
}
    body {
        font-family: @font;
        background: @bg-color;
        font-size: @font-size;
        line-height: 20px;
    }
    //selection colors
    ::-moz-selection {
        background: @selection;
        color: #fff;
        text-shadow: none;
    }
    ::selection {
        background: @selection;
        color: #fff;
        text-shadow: none;
    }
//navigation bar
#navigator {
    top: 0;
    z-index: 10;
    height: @navigator-h;
    width: @navigator-w;
    box-shadow: 1px 1px 3px #888888; 
    background: rgba(255, 255, 255, 0.85);
    .noselect();
    .fixed();
    .wrapper {
        max-width: @post-width;
        margin: 0 auto;
        padding: 0 1em;
    }
}
    .logo {
        .absolute();
        // Rotate on hover
        &:hover .hoang {
            opacity: 0;
            .transform(rotate, -180deg);
        }
        &:hover .gnaoh {
            opacity: 1;
            .transform(rotate, -360deg);
        }
    }
        //G (gangsta) Molecule
        .pyrimidine, .benzene {
            .absolute();
            opacity: 0.75;
            .top {
                width: 0;
                border-bottom: round(@aromatics-size/4, 1) solid @color;
                border-left: round(@aromatics-size/2 * 0.866, 1) solid transparent;
                border-right: round(@aromatics-size/2 * 0.866, 1) solid transparent;
            }
            .middle {
                width: round(@aromatics-size * 0.866, 1);   //width to heigh ratio is root(3) to 1
                height: round(@aromatics-size/2, 1);
                background: @color;
            }
            .bottom {
                width: 0;
                border-top: round(@aromatics-size/4, 1) solid @color;
                border-left: round(@aromatics-size/2 * 0.866, 1) solid transparent;
                border-right: round(@aromatics-size/2 * 0.866, 1) solid transparent;
            }
        }
        .benzene {
            left: round(@aromatics-size*0.43,1);
            top: round(@aromatics-size*0.755,1);
        }
        .flipper {
            .hide();
        }
        .kenny, .hoang, .gnaoh {
            margin-top: 5px;
            font-size: 125%;
            left: @aromatics-size;
            .absolute();
			.animated(300ms);
            &.error{
                color: red;
            }
        }
        .kenny {
            top: 0;
        }
        .hoang {
            top: 1em;
            left: @aromatics-size;
        }
       .gnaoh {
			opacity: 0;
            top: 1em;
            left: @aromatics-size;
			.transform(rotate, -180deg);
        }
        .beta {
            float: right;
            font-size: 85%;
            color: @bg-color;
            position: relative;
            left: round(@aromatics-size / 6, 1);
            top: round(@aromatics-size / 4 , 1);
        }
	//the list with all of them links
    #navlist {
        float: right;
        margin-top: @navigator-h*0.3;
        .link {
            display: inline-block;
            margin:0 0.5em;
            a {
                color: #000;
                display: block;
                padding:0 0.5em;
                border-radius: 1px;
                text-decoration: none;
                text-transform: capitalize;
            }
            &:hover, &.active {
                border-bottom: @color solid 3px;
            }
        }
    }
//content page
#content {
    padding: 2em 1em;
    max-width: @post-width;
    margin: @navigator-h auto;
}
#post {
    h1 {
        color: @color;
        margin: 10px 0;
        font-size: 1.7em;
        font-weight: normal;
    }
    a {
        color: @color;
        text-decoration: underline;
    }
    a.inline {
        &:before, &:after {
            content: '';
            margin: 0 0.1em;
        }
    }
    p {
        margin: 1em 0;
    }
    ul.inline {
        margin-left: 2.5em;
        li {
            list-style: circle;
            ul {
                margin-left: 1em;
                li {
                    list-style: disc;
                }
            }
        }
    }
    .textblock {
        margin: 0.5em 0;
    }
    //ajax page switching
    #old-post, #new-post {
        max-width: @post-width;
        .absolute;
        .animated(500ms);
    }
    #old-post {
        &.move {
            .transform(translateX, -@post-width*1.25);
            opacity: 0;
        }
    }
    #new-post{
        .transform(translateX, -@post-width*1.25);
        opacity: 0;
        &.move {
            .delay(400ms);
             opacity: 1;
            .transform(translateX, 0);
        }
    }
}   
.banner {
    margin: 2em auto;
    display: block;
    max-height: 125px;
    overflow: hidden;
    .relative;
    &>div, >img {
        .animated(250ms);
    }
    .title, .description {
        z-index: 5;
        color: @bg-color;
        .absolute;
        left: 5%;
        &.gray {
            color: @color-gray;
        }
    }
    .title {
        top: 10%;
        font-size: 200%;
        padding-right: 0.25em;
        border-right: 0px solid @bg-color;
    }
    .description {
        top: 40%;
        padding-left: 0.25em;
    }
    img {
       -webkit-filter: none;
    }
    &:hover img {
        -webkit-filter: blur(2px) grayscale(1);
        filter: blur(1px) grayscale(1); 
       filter: none;
    }
    &:hover .title {
        border-right: 100px solid @bg-color;
        &.gray {
            border-right: 100px solid  @color-gray;
        }
    }
}

// curriculum vitae section
.cv {
    .self {
        span {
            display: block;
        }
    }
    li {    
        margin: 0.25em 0 0.25em 1.5em;
        list-style: circle;
        li {
            margin-left: 1em;
            list-style-type: disc;
        }
    }
    .tool {
        border-bottom: 1px dashed @color;
        a {
            text-decoration: none !important;
        }
        &:hover + .tip {
            .show;
          }
    }
    .tip {
        .hide;
        color: @bg-color;
        z-index: 5;
        padding: 1em;
        .absolute;
        background: rgba(0, 0, 0, 0.7);
    }
    .category {
        margin: 0.75em 0;
        font-size: 175%;
        color: @color-dark;
        padding: 0.25em 0;
        border-top: 1px solid @color-dark;
    }
    .skills {
        .title {
            display: inline-block;
            margin: 0 1em 0.5em 0;
            cursor: s-resize;
            font-size: 125%;
            &.active {
                border-bottom: 2px solid @color;
            }
        }
        .tabs {
            .relative;
            height: 450px;
            overflow: hidden;
        }
        .tab {
            width: 100%;
            .absolute;
            .animated(500ms);
            .transform(translateY, -110%);
            [class *= 'bar-'] {
                .transform(translateX, -100%);
            }
            &.active {
                .delay(550ms);
                .transform(translateY, 0);
                [class *= 'bar-'] {
                    .transform(translateX, 0);
                }
            }
        }
        [class *= 'bar'] {
            display: inline-block;
        }
        .bar {
            width: 10em;
            height: 1em;
            float: right;
            overflow: hidden;
            border-radius: 5px;
            border: 1px solid @color;
            .relative;
            span {
                left: 0.5em;
                top: -0.25em;
                color: @bg-color;
                font-size: 80%;
                .absolute;
            }
        }
        [class *= 'bar-length'] {
            height: 125%;
            .animated;
            .delay;
            background: @color;
        }
        .bar-length-10 {width: 10%;}
        .bar-length-20 {width: 20%;}
        .bar-length-25 {width: 25%;}
        .bar-length-30 {width: 30%;}
        .bar-length-40 {width: 40%;}
        .bar-length-50 {width: 50%;}
        .bar-length-60 {width: 60%;}
        .bar-length-70 {width: 70%;}
        .bar-length-80 {width: 80%;}
        .bar-length-90 {width: 90%;}
        .bar-length-100 {width: 100%;}
    }
    .position {
        margin-bottom: 2em;
        .animated(200ms, all);

        &.active {
            margin-bottom: 1.5em;
            font-size: @font-size * 1.25;
            line-height: 125%;
            padding-left: 1em;
            border-left: 5px solid @color-dark;
        }
        .title {
            font-size: 120%;
        }
        .date {
            color: @color-dark;
            margin-bottom: 0.5em;
        }
        .description {
             
        }
        .genus-species {
            font-style: italic;
        }
    }
}
.letter {
    .heading {
        margin-bottom: 3em;
    }
    span {
        display: block;
    }
    .date {
        color: @color;
    }
    .signature {
        display: block;
    }
}
// Image galleries
.gallery {
    margin: 1em 0;
    overflow: hidden;
    }
    .image {
        margin: 10px 0;
        .relative();
        // Displays captions on hover
        .caption {
            bottom: 0;
            width: 100%;
            color: #fff;
            opacity: 0;
            padding: 0 0 0 1%;
            background: rgba(0, 0, 0, 0.75);
            .absolute();
            .animated(300ms);
        }
        //displays captions on hover
        &:hover > .caption {
            opacity: 1;
            padding: 1.5% 0 1.5% 1%;
        }
    }
    // The resizable gallery (isotope)
    &.wall, .brick,  {
        .animated(400ms);
    }
    &.wall {
        .brick {
            margin: 0.25% 0;
            max-width: 24.5%;
            &.biggie {
                max-width:  49.5%;
                .caption {
                    opacity: 1;
                    padding: 1.5% 0 1.5% 1%;
                }
            }
            &.top {
                z-index: 5 !important;
            }
            &.brick-hidden {
                z-index: 0;
                pointer-events: none;
            }
        }
        //hides the gallery when it's initializing to ensure proper positioning
        &.mortar, .mortar .brick {
            opacity: 0;
            .animated(0) !important;
        }
    }
//video wrapper and UI
.video {
    width: 100%;
    overflow: hidden;
    margin-bottom: 1em;
    .relative();

    .poster {
        width: 100%;
        background-size:100%;
        background-repeat: no-repeat;
        background-clip: content-box;
        .absolute();
    }
    video {
        max-width: 100%;
    }
}


// responsive fluid grids
[class *= 'grid-'] {
    display: inline;
    float: left;
    padding: 0 0.5%;
}
// parent wrappers of grid elements
.gridlock {
    float: none;
    & >:first-child {
        padding-left: 0;
    }
    & >:last-child {
        padding-right: 0;
    }
    .clearfix();
}
//grid widths
.grid-100   {width: 100%    !important;}
.grid-80    {width:80%      !important;}
.grid-75    {width:75%      !important;}
.grid-66    {width:66.6%    !important;}
.grid-60    {width:60%      !important;}
.grid-50    {width:50%      !important;}
.grid-40    {width:40%      !important;}
.grid-33    {width:33.3%    !important;}
.grid-25    {width:25%      !important;}
.grid-20    {width:20%      !important;}
.grid-10    {width:10%      !important;}

// grid blank offsets
.grid-offset-80    {margin-left:80%;}
.grid-offset-75    {margin-left:75%;}
.grid-offset-66    {margin-left:66%;}
.grid-offset-60    {margin-left:60%;}
.grid-offset-50    {margin-left:50%;}
.grid-offset-40    {margin-left:40%;}
.grid-offset-33    {margin-left:33%;}
.grid-offset-25    {margin-left:25%;}
.grid-offset-20    {margin-left:20%;}
.grid-offset-10    {margin-left:10%;}
.grid-offset-5     {margin-left:5%;}

// Media queries
// Tablets
// @media (max-width:1024px) {
// }

// Phones in landscape & Tablets in portrait
@media (max-width:768px) {
    // Scroll for prettyprint boxes
    .prettyprint {
        overflow-wrap: normal;
        overflow-x: scroll;
    }
    // Converts the smaller grids to be 50%
    .grid-25,
    .grid-20,
    .grid-10 {
            .grid-50();
        }
    #navigator {
        height: auto;
        z-index: 5;
        top: 0;
        .fixed();
    }
        .logo {
            top : 5%;
            left : auto;
            z-index: 10;
            opacity: .85;
            right : @aromatics-size;
            .absolute();
            // Hides everything but pyrimidine ring
             & >:not(.pyrimidine) {
                .hide;
             }
            .flipper {
                top: 45%;
                width: 55%;
                height: 15%;
                margin: 0 auto;
                background: @bg-color;
                .relative();
                .show();
            }
            .flipper:before, .flipper:after {
                content: '';
                width: 100%;
                height: 100%;
                background: @bg-color;
                .absolute();
            }
           
            .flipper:before {
                top: -200%;
            }
            .flipper:after {
                top: 200%;
            }
        }
        #navlist {
            top: 0;
            margin: 0;
            width: auto;
            right: -100px;
            padding-top: 4.1em !important; 
            box-shadow: 1px 1px 5px #3F3F3F;
            background: fadeout(darken(@bg-color, 5%), 20%);
            .animated(400ms);
            .absolute();

            .link {
                display: block;
                margin: 0;
                a {
                    padding: 2em 0.6em;
                }
                &.active, &:hover {
                    background: #666;
                    border-bottom: none;
                    a {
                        color: @bg-color;
                    }
                }
            }
            &.show {
                right:0 !important;
            }
        }
    #content {
        margin: 2em 0.5em;
        padding: 0;
    }
        .banner {
            margin: 1em auto;
            .title {
                font-size: 125%;
            }
            .description {
                top: 45%;
                font-size: 90%;
            }
        }
        .gallery.wall, .gallery .brick {
            .animated(0ms) !important;
        }
            .gallery.wall .brick {
                max-width: 49.5%;
                &.biggie {
                    max-width:  100%;
                }
            }
        
        .video {
            width: 100% !important;
            margin-bottom: 0.5em;
            video {
                max-width: 100%;
            }
        }
        .cv {
            .skills {
                .bar {
                    width: 7.5em;
                }
                .tabs {
                    height: 500px;
                }
            }
            .position {
                .animated(0ms);
                &.active {
                    margin-bottom: 1em;
                    line-height: 150%;
                    padding-left: 0.5em;
                }
            }
        }
}
//Phones in portrait layout
@media (max-width:480px) {
    //makes all grid items turn into 100% width
     [class *= 'grid-'] {
        width:100% !important;
        margin: auto 0;
    }
    .cv {
        .skills {
            .tabs {
                height: 550px;
            }
        }
    }
}
