extend /views/skeleton
block content
    p   This is a sample of my Strangers collection. This gallery was scripted using 
        +link('http://isotope.metafizzy.co/', 'isotope.')
    p   Please take a gander at method 
        +link('https://github.com/crystol/gnaoh/blob/master/source/js/gnaoh.js#L320', 'Gnaoh.layBricks')
        |  for more information.
    #strangers(data-amount='15', class='gallery wall')